#alerte {
    display: none;
}

@media only screen and (max-width: 600px) {
    #message {
        color: black;
        font-weight: bold;
    }

    #alerte {
        display:block;
        justify-content: center;
        text-align: center;
        margin: 50px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background:rgba(37,38,41,100%);
        color: #ffffff;
    }
    
    .message {
        color: #ffffff;
        font-weight: bold;
    }

    .content{
        display: none;
    }

    .contact{
        padding-top: 15px;
        padding-bottom: 30px;
        margin-top: 50px;
    }
    
    .contact a{
        margin: 20px 0;
        display: block;
    }

}